* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  background-color: rgb(45, 85, 124);
  color: white;
}

header {
  margin: 1rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

h1 {
  text-align: center;
}

.btn {
  padding: 0.2rem 0.5rem;
  margin-top: 0.5rem;
  background-color: rgb(196, 196, 196);
  color: rgb(45, 85, 124);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(230, 230, 230);
  color: rgb(36, 75, 114);
}

.score-container {
  width: 50%;
  margin: 0 auto;
  display: flex;
}

.score-container div {
  padding: 0.3rem;
  width: 50%;
}

.score-container div:nth-child(1) {
  text-align: left;
}

.score-container div:nth-child(2) {
  text-align: right;
}

.game-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.game-container .fas {
  cursor: pointer;
  color: rgb(252, 221, 174);
}

.game-container .fas:hover {
  color: rgb(255, 175, 55);
}
